.nav-bar {
	position: fixed;
	z-index: 10;
	background-color: #d9d9d913;
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: flex-end;
	box-shadow: 0px 10px 10px -5px rgba(255, 255, 255, 0.3);
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-menu {
	display: flex;
}

.nav-content {
	padding: 5px 20px 10px 0;
}

.nav-content a {
	font-size: 1.5rem;
}

.header-socials {
	display: none;
}

/* ------------- Tablet ------------- */
@media screen and (max-width: 835px) {
	.nav-bar {
		justify-content: space-between;
	}

	.header-socials {
		display: flex;
		align-items: center;
	}

	.header-socials a {
		padding-right: 20px;
	}

	.burger-menu {
		height: 100%;
		width: 3rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		cursor: pointer;
		padding: 1rem;
	}

	.burger-bar {
		width: 3.5rem;
		height: 0.5rem;
		background-color: #fff;
		opacity: 0.6;
		border-radius: 0.3rem;
	}

	.menu {
		width: 100%;
		height: 100vh;
		background-color: #1b1310;
		opacity: 0.6;
		position: absolute;
		top: 0;
		z-index: -1;
		justify-content: center;
	}

	.nav-menu {
		display: block;
	}

	.nav-content {
		text-align: center;
	}

	/* ------------- sliding menu ------------------ */
	.hidden {
		display: none;
	}

	.visible {
		display: inherit;
	}

	/* ----- animations--------- */
	/* clicked */
	.burger-bar.clicked:nth-child(1) {
		transform: rotate(45deg) translate(0.75em, 1.25em);
		transition: ease-out 0.5s;
	}

	.burger-bar.clicked:nth-child(2) {
		transform: scale(0.1);
		transition: ease-out 0.5s;
	}

	.burger-bar.clicked:nth-child(3) {
		transform: rotate(135deg) translate(-0.5em, 1em);
		transition: ease-out 0.5s;
	}

	/* unclicked */
	.burger-bar.unclicked {
		transform: rotate(0) translate(0);
		transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
	}
}
